<div class="Manue">
<span class="logo">OCTIS .V2</span>


<ul class="navbar">
    
    <li>
            <NavLink class="Naviteam" href="/" Match="NavLinkMatch.All">
        <span class="ct"><i class="ri-home-fill"></i>Home</span>
        </NavLink>
    </li>
    <NavLink class="Naviteam" href="Rate">
        <span class="ct"><i class="ri-car-fill"></i>Occupancy</span>
    </NavLink>
        <li>
            <NavLink class="Naviteam" href="Add">
                <span class="ct"><i class="ri-progress-3-fill"></i>Capacity</span>
            </NavLink>
        </li>
    <li>
            <NavLink class="Naviteam" href="DriverPool">
                <span class="ct"><i class="ri-database-2-line"></i>Driver Pool</span>
        </NavLink>
    </li>

    <li>
        <NavLink class="Naviteam" href="">
        <span class="ct"><i class="ri-smartphone-fill"></i>Kloudip</span>
        </NavLink>
    </li>
   

</ul>
</div>

